<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.between">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".chatting.ChattingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".signInAndUp.SignInActivity" />


        <activity android:name=".signInAndUp.SignUpActivity" />
        <activity android:name=".signInAndUp.AcceptActivity" />
        <activity android:name=".signInAndUp.PhoneConnectActivity" />
        <activity android:name=".signInAndUp.ProfileActivity" />
        <activity android:name=".signInAndUp.SignIn2Activity" />
        <activity android:name=".AnniversaryAndCalendar.HomeActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnniversaryAndCalendar.AnniversaryListActivity" />
        <activity android:name=".AnniversaryAndCalendar.AnniversarySettingActivity" />
        <activity android:name=".AnniversaryAndCalendar.CalendarViewActivity" />
        <activity android:name=".AnniversaryAndCalendar.CalendarWriteActivity" />
        <activity android:name=".signInAndUp.SplashActivity">

        </activity>
    </application>

</manifest>